<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.example.model.Alien">
        <!--Setter Injection -->
        <!--
        <property name="age" value="23"/>
        <property name="laptop" ref="lap"/> -->
        <!-- Constructor Injection -->
        <!-- Sequence: -->
<!--        <constructor-arg  value="21"/>-->
<!--        <constructor-arg  ref="lap"/>-->
        <!-- Using Index: -->
<!--        <constructor-arg index="1" ref="lap"/>-->
<!--        <constructor-arg index="0" value="21"/>-->
        <!-- Using Type -->
<!--        <constructor-arg type="org.example.model.Laptop" ref="lap"/>-->
<!--        <constructor-arg type="int" value="21"/>-->
        <!-- Using Name -->
        <constructor-arg name="laptop" ref="lap"/>
        <constructor-arg name="age" value="21"/>

    </bean>
    <bean id="lap" class="org.example.model.Laptop"></bean>
</beans>